.expenseFilter{
    display: flex;
    flex-direction: column;
    color: ghostwhite;
    background-color: gray;
    border-radius: 10px;
}
.expenseFilter__header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: x-small;
    padding: 10px 10px;
}
.expenseFilter__header>select{
    padding: 2px 2px;
    border-radius: 4px;
}

.expenseFilter_months{
    display: flex;
    justify-content: space-around;
    font-size: xx-small;
}